@font-face {
  font-family: "Cocogoose-Regular";
  src: url("../fonts/cocogoose-pro-regular-trial-webfont.woff2") format("woff2"),
    url("../fonts/cocogoose-pro-regular-trial-webfont.woff") format("woff"),
    url("../fonts/Cocogoose-Pro-Regular-trial.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Cocogoose-Semilight";
  src: url("../fonts/cocogoose-pro-semilight-trial-webfont.woff2")
      format("woff2"),
    url("../fonts/cocogoose-pro-semilight-trial-webfont.woff") format("woff"),
    url("../fonts/Cocogoose-Pro-Semilight-trial.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Cocogoose-Thin";
  src: url("../fonts/cocogoose-pro-thin-trial-webfont.woff2") format("woff2"),
    url("../fonts/cocogoose-pro-thin-trial-webfont.woff") format("woff"),
    url("../fonts/Cocogoose-Pro-Thin-trial.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Regular";
  src: url("../fonts/truenorg-webfont.woff2") format("woff2"),
    url("../fonts/truenorg-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Light";
  src: url("../fonts/truenolt-webfont.woff2") format("woff2"),
    url("../fonts/truenolt-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Semibold";
  src: url("../fonts/truenosbd-webfont.woff2") format("woff2"),
    url("../fonts/truenosbd-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Bold-Italic";
  src: url("../fonts/truenobdit-webfont.woff2") format("woff2"),
    url("../fonts/truenobdit-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

.cocogoose-regular-text-red {
  font-family: "Cocogoose-Regular";
  color: #bf3f44;
}

.cocogoose-semilight-text-red {
  font-family: "Cocogoose-Semilight";
  color: #bf3f44;
}

.cocogoose-semilight-text-white {
  font-family: "Cocogoose-Semilight";
  color: white;
}

.cocogoose-light-text-red {
  font-family: "Cocogoose-Semilight";
  color: #bf3f44;
}

.cocogoose-thin-text-red {
  font-family: "Cocogoose-Thin";
  color: #bf3f44;
}

.cocogoose-regular-text-black {
  font-family: "Cocogoose-Regular" !important;
  color: black;
}

.cocogoose-regular-text-white {
  font-family: "Cocogoose-Regular" !important;
  color: white;
}

.cocogoose-semilight-text-black {
  font-family: "Cocogoose-Semilight" !important;
  color: black !important;
}

.cocogoose-thin-text-black {
  font-family: "Cocogoose-Thin";
  color: black;
}

.trueno-regular-text-black {
  font-family: "Trueno-Regular";
  color: black;
}

.trueno-regular-text-red {
  font-family: "Trueno-Regular";
  color: #bf3f44;
}

.trueno-light-text-black {
  font-family: "Trueno-Light";
  color: black;
}

.trueno-light-text-red {
  font-family: "Trueno-Light";
  color: #fc898e;
}

.trueno-light-text-white {
  font-family: "Trueno-Light";
  color: white;
}

.trueno-semibold-text-black {
  font-family: "Trueno-Semibold";
  color: black;
}

.trueno-bold-italic-text-black {
  font-family: "Trueno-Bold-Italic";
  color: black;
}

.trueno-semibold-text-red {
  font-family: "Trueno-Semibold";
  color: #bf3f44;
}

@media (min-width: 465px) {
  #uniEatsLogo {
    max-height: 60px;
  }
}

@media (max-width: 464px) {
  #uniEatsLogo {
    max-height: 50px;
  }
}

.custom-btn-toggle {
  --bs-btn-color: #bf3f44 !important;
  --bs-btn-bg: none !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-color: none !important;
  --bs-btn-hover-bg: none !important;
  --bs-btn-hover-border-color: none !important;
  --bs-btn-active-color: none;
}

.active-menu {
  background-color: #ffe793;
}

.form-input-style {
  border-color: #f5f5f5 !important;
  background-color: #f5f5f5 !important;
  border-radius: 15px !important;
  border-width: 1.5px !important;
  height: 3rem;
  font-family: "Trueno-Regular";
}

.form-input-style::placeholder {
  font-family: "Trueno-Light";
  color: rgba(0, 0, 0, 0.28) !important;
}

.form-textarea-style {
  border-color: #f5f5f5 !important;
  background-color: #f5f5f5 !important;
  border-radius: 15px !important;
  border-width: 1px !important;
  font-family: "Trueno-Regular";
  resize: none;
  padding: 0.8rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  opacity: 1;
  overflow-y: scroll;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

li {
  list-style: none;
}

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar {
  max-width: 264px;
  min-width: 264px;
  background: #fff8de;
  transition: all 0.35s ease-in-out;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  width: 100%;
  background: white;
}

.sidebar-nav {
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}

.sidebar-header {
  color: #e9ecef;
  font-size: 0.75rem;
  padding: 1.5rem 1.5rem 0.375rem;
}

a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #e9ecef;
  position: relative;
  display: block;
  font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}

.avatar {
  height: 40px;
  width: 40px;
}

.navbar-expand .navbar-nav {
  margin-left: auto;
}

.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
}

@media (min-width: 768px) {
  .content {
    max-width: auto;
    width: auto;
  }
}

.card {
  box-shadow: 0 0 0.875rem 0 rgba(34, 46, 60, 0.05);
  margin-bottom: 24px;
}

#sidebar.collapsed {
  margin-left: -264px;
}

@media (max-width: 767.98px) {
  .js-sidebar {
    margin-left: -264px;
  }

  #sidebar.collapsed {
    margin-left: 0;
  }
}

.image-holder {
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
}

.image-holder > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: center center;
}

div#MealFileUpload {
  position: relative;
  width: 100%;
  height: 350px;
  border: 2px dashed #fc898e;
  background-color: white;
  border-radius: 30px;
  margin: auto;
}

div#MealFileUpload > .selected-image-holder {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

div#MealFileUpload > .selected-image-holder {
  width: 100%;
  overflow: hidden;
}

div#MealFileUpload > .selected-image-holder > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: center center;
}

div#MealFileUpload > .meal-img-selector {
  position: absolute;
  bottom: -6px;
  right: 9%;
  width: 20px;
  height: 20px;
}

div#MealFileUpload > .meal-img-selector input[type="file"] {
  display: none;
}

div#MealFileUpload > .meal-img-selector > .meal-img-selector-btn {
  width: 100%;
  height: 100%;
  background: white;
  padding: 0px 0px;
  border-radius: 50% 50%;
}

div#MealFileUpload > .meal-img-selector > .meal-img-selector-btn > i {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center center;
  z-index: 2;
}

#add-eatery-icon {
  color: #fc898e;
}

.add-meal-container {
  background-color: white;
  border-radius: 30px;
}

@media (min-width: 1450px) {
  .custom-col-add-meal-img {
    flex: 0 0 auto;
    width: 50% !important;
  }
}

@media (max-width: 1449px) {
  .custom-col-add-meal-img {
    flex: 0 0 auto;
    width: 70% !important;
  }
}

@media (max-width: 1199px) {
  .custom-col-add-meal-img {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

@media (min-width: 800px) {
  .custom-col-5 {
    flex: 0 0 auto !important;
    width: 41.66666667% !important;
  }

  .custom-col-2 {
    flex: 0 0 auto !important;
    width: 16.66666667% !important;
  }
}

@media (max-width: 799px) {
  .custom-col-5 {
    flex: 0 0 auto !important;
    width: 100% !important;
  }

  .custom-col-2 {
    flex: 0 0 auto !important;
    width: 0% !important;
  }
}

.price-range-input::placeholder {
  color: rgba(0, 0, 0, 0.28) !important;
  text-align: center !important;
}

option {
  color: #fc898e !important;
}

.btn-add {
  align-items: center !important;
  border-color: #FFE073 !important;
  color: black !important;
  background-color: #FFE073 !important;
  border-radius: 50px !important;
  border-width: 1.5px !important;
  height: 3rem;
  font-family: "Trueno-SemiBold" !important;
  --bs-btn-padding-x: 2.75rem !important;
  cursor: pointer !important;
}

.btn-cancel {
  align-items: center !important;
  border-color: black !important;
  color: black !important;
  background-color: white !important;
  border-radius: 50px !important;
  border-width: 1.5px !important;
  height: 3rem;
  font-family: "Trueno-SemiBold" !important;
  --bs-btn-padding-x: 2.75rem !important;
  cursor: pointer !important;
}
