@font-face {
    font-family: 'Cocogoose-Regular';
    src: url('../fonts/cocogoose-pro-regular-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-regular-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Regular-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Cocogoose-Semilight';
    src: url('../fonts/cocogoose-pro-semilight-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-semilight-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Semilight-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Cocogoose-Thin';
    src: url('../fonts/cocogoose-pro-thin-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-thin-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Thin-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Trueno-Regular';
    src: url('../fonts/truenorg-webfont.woff2') format('woff2'),
          url('../fonts/truenorg-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Trueno-Light';
    src: url('../fonts/truenolt-webfont.woff2') format('woff2'),
          url('../fonts/truenolt-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

@font-face {
    font-family: 'Trueno-Semibold';
    src: url('../fonts/truenosbd-webfont.woff2') format('woff2'),
          url('../fonts/truenosbd-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

@font-face {
    font-family: 'Trueno-Bold-Italic';
    src: url('../fonts/truenobdit-webfont.woff2') format('woff2'),
          url('../fonts/truenobdit-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}

.cocogoose-regular-text-red {
    font-family: 'Cocogoose-Regular';
    color: #BF3F44;
}

.cocogoose-semilight-text-red {
    font-family: 'Cocogoose-Semilight';
    color: #BF3F44;
}

.cocogoose-semilight-text-white {
    font-family: 'Cocogoose-Semilight';
    color: white;
}

.cocogoose-light-text-red {
    font-family: 'Cocogoose-Semilight';
    color: #BF3F44;
}

.cocogoose-thin-text-red {
    font-family: 'Cocogoose-Thin';
    color: #BF3F44;
}

.cocogoose-regular-text-black {
    font-family: 'Cocogoose-Regular' !important;
    color: black;
}

.cocogoose-regular-text-white {
    font-family: 'Cocogoose-Regular' !important;
    color: white;
}

.cocogoose-semilight-text-black {
    font-family: 'Cocogoose-Semilight' !important;
    color: black !important;
}

.cocogoose-thin-text-black {
    font-family: 'Cocogoose-Thin';
    color: black;
}

.trueno-regular-text-black {
    font-family: 'Trueno-Regular';
    color: black;
}

.trueno-regular-text-red {
    font-family: 'Trueno-Regular' !important;
    color: #BF3F44 !important;
}

.trueno-light-text-black {
    font-family: 'Trueno-Light';
    color: black;
}

.trueno-light-text-white {
    font-family: 'Trueno-Light';
    color: white;
}

.trueno-semibold-text-black {
    font-family: 'Trueno-Semibold';
    color: black;
}

.trueno-bold-italic-text-black {
    font-family: 'Trueno-Bold-Italic';
    color: black;
}

.trueno-semibold-text-red {
    font-family: 'Trueno-Semibold';
    color: #BF3F44;
}

@media (min-width: 465px) {
    #uniEatsLogo {
        max-height: 60px;
    }
}
  
@media (max-width: 464px) {
    #uniEatsLogo {
        max-height: 50px;
    }
}

.custom-btn-toggle {
    --bs-btn-color: #BF3F44 !important;
    --bs-btn-bg: none !important;
    --bs-btn-border-color: none !important;
    --bs-btn-hover-color: none !important;
    --bs-btn-hover-bg: none !important;
    --bs-btn-hover-border-color: none !important;
    --bs-btn-active-color: none;
}

.active-menu {
    background-color: #FFE793;
}

.form-input-style {
    border-color: #fc898e !important;
    background-color: white;
    border-radius: 15px !important;
    border-width: 1.5px !important;
    height: 3rem;
    font-family: "Trueno-Regular";
}
  
.form-input-style::placeholder {
    font-family: "Trueno-Light";
    color: #fc898e !important;
}

.status-select-input-style {
    border-color: #fc898e !important;
    background-color: white;
    border-radius: 15px !important;
    border-width: 1.5px !important;
    height: 3rem;
    font-family: "Trueno-Regular";
}

.btn-export {  
    border-color: #fc898e !important;
    color: #fc898e !important;
    background-color: white;
    border-radius: 15px !important;
    border-width: 1.5px !important;
    height: 3rem;
    font-family: "Trueno-Light" !important;
    --bs-btn-padding-x: 2.75rem !important;
}

@media (min-width: 1512px) {
    .btn-export-lg {  
        border-color: #fc898e !important;
        color: #fc898e !important;
        background-color: white;
        border-radius: 15px !important;
        border-width: 1.5px !important;
        height: 3rem;
        font-family: "Trueno-Light" !important;
        --bs-btn-padding-x: 2.75rem !important;
    }
}

@media (max-width: 1511px) {
    .btn-export-lg {  
        border-color: #fc898e !important;
        color: #fc898e !important;
        background-color: white;
        border-radius: 15px !important;
        border-width: 1.5px !important;
        height: 3rem;
        font-family: "Trueno-Light" !important;
        --bs-btn-padding-x: .75rem !important;
    }
}


@media (min-width: 1200px) {
    .export-lg {
        display: inline-block !important;
    }

    .export-sm {
        display: none !important;
    }

    .custom-col-2-lg {
        flex: 0 0 auto;
        width: 16.66666667% !important;
    }

    .custom-col-2-sm {
        flex: 0 0 auto !important;
        width: 0% !important;
    }

    .btn-export-sm {  
        border-color: none !important;
        color: #fc898e !important;
        background-color: white;
        border-radius: 15px !important;
        border-width: 1.5px !important;
        height: 3rem;
        font-family: "Trueno-Light" !important;
        --bs-btn-padding-x: 2.75rem !important;
    }

    .btn-export-sm-visibility {
        visibility: hidden !important;
    }
}

@media (max-width: 1199px) {
    .export-lg {
        display: none !important;
    }

    .export-sm {
        display: inline-block !important;
    }

    .custom-col-2-lg {
        flex: 0 0 auto;
        width: 0% !important;
    }

    .custom-col-2-sm {
        flex: 0 0 auto;
        width: 16.66666667% !important;
    }

    .btn-export-sm {  
        border-color: #fc898e !important;
        color: #fc898e !important;
        background-color: white;
        border-radius: 15px !important;
        border-width: 1.5px !important;
        height: 3rem;
        font-family: "Trueno-Light" !important;
        --bs-btn-padding-x: 1.75rem !important;
    }

    .btn-export-sm-visibility {
        visibility: visible !important;
    }
}

@media (min-width: 900px) {
    .custom-col-10 {
        flex: 0 0 auto;
        width: 83.33333333% !important;
    }

    .export-xsm {
        display: none !important;
    }
}

@media (max-width: 899px) {
    .export-sm {
        display: none !important;
    }

    .custom-col-2-sm {
        flex: 0 0 auto;
        width: 0% !important;
    }

    .btn-export-sm {  
        border-color: white !important;
        color: none !important;
        background-color: white;
        border-radius: 15px !important;
        border-width: 1.5px !important;
        height: 3rem;
        font-family: "Trueno-Light" !important;
        --bs-btn-padding-x: 1.75rem !important;
    }

    .btn-export-sm-visibility {
        visibility: hidden !important;
    }

    .custom-col-10 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .export-xsm {
        display: block !important;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

li {
    list-style: none;
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: #FFF8DE;
    transition: all 0.35s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: white;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.avatar {
    height: 40px;
    width: 40px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width:768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}

.card {
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}

#sidebar.collapsed {
    margin-left: -264px;
}

@media (max-width:767.98px) {

    .js-sidebar {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }
}

table, tr, td, th {
    border: none !important;
}

table {
    width: 100% !important;
    border-radius: 20px !important;
}

table>thead>tr>th:first-child,
table>tbody>tr>td:first-child { 
    width:15% !important; 
}

table>thead>tr>th:nth-child(2),
table>tbody>tr>td:nth-child(2) { 
    width:20% !important;
}

table>thead>tr>th:nth-child(3),
table>tbody>tr>td:nth-child(3) { 
    width:38% !important;
}

table>thead>tr>th:nth-child(4),
table>tbody>tr>td:nth-child(4) { 
    width:12% !important;
}

table>thead>tr>th:nth-child(5),
table>tbody>tr>td:nth-child(5) { 
    width:15% !important;
}

.thead-bg {
    background-color: #FFE8E8 !important;
    font-family: 'Cocogoose-Semilight' !important;
    color: black !important;
}

.rounded-top-left {
    border-top-left-radius: 10px !important;
}

.rounded-top-right {
    border-top-right-radius: 10px !important; 
}

.tbl-content {
    font-family: 'Trueno-Regular' !important;
    color: black !important;
}

.scrollable-container {
    max-width: 100% !important;
    overflow-x: scroll !important;
}

th, td {
    min-width: 200px !important;
}

.image-holder {
    width: 100%;
    height: 100%;
    border-radius: 50% 50%;
}

.image-holder>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: center center;
}


.rating-wrapper {
    align-self: center;
    display: inline-flex;
    direction: rtl !important;
    
    label {
      color: #E1E6F6;
      display: inline-flex;
      font-size: 2rem;
      padding: 0rem .3rem .3rem 0rem;
      transition: color 0.5s;
    }
  
    input {
      height: 100%;
      width: 100%;
    }
    
    input {
      display: none;
    }
  }