@font-face {
    font-family: 'Cocogoose-Regular';
    src: url('../fonts/cocogoose-pro-regular-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-regular-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Regular-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Cocogoose-Semilight';
    src: url('../fonts/cocogoose-pro-semilight-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-semilight-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Semilight-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Cocogoose-Thin';
    src: url('../fonts/cocogoose-pro-thin-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-thin-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Thin-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Trueno-Regular';
    src: url('../fonts/truenorg-webfont.woff2') format('woff2'),
          url('../fonts/truenorg-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Trueno-Light';
    src: url('../fonts/truenolt-webfont.woff2') format('woff2'),
          url('../fonts/truenolt-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

@font-face {
    font-family: 'Trueno-Semibold';
    src: url('../fonts/truenosbd-webfont.woff2') format('woff2'),
          url('../fonts/truenosbd-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

@font-face {
    font-family: 'Trueno-Bold-Italic';
    src: url('../fonts/truenobdit-webfont.woff2') format('woff2'),
          url('../fonts/truenobdit-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}

.cocogoose-regular-text-red {
    font-family: 'Cocogoose-Regular';
    color: #BF3F44;
}

.cocogoose-semilight-text-red {
    font-family: 'Cocogoose-Semilight';
    color: #BF3F44;
}

.cocogoose-semilight-text-white {
    font-family: 'Cocogoose-Semilight';
    color: white;
}

.cocogoose-light-text-red {
    font-family: 'Cocogoose-Semilight';
    color: #BF3F44;
}

.cocogoose-thin-text-red {
    font-family: 'Cocogoose-Thin';
    color: #BF3F44;
}

.cocogoose-regular-text-black {
    font-family: 'Cocogoose-Regular' !important;
    color: black;
}

.cocogoose-regular-text-white {
    font-family: 'Cocogoose-Regular' !important;
    color: white;
}

.cocogoose-semilight-text-black {
    font-family: 'Cocogoose-Semilight' !important;
    color: black !important;
}

.cocogoose-thin-text-black {
    font-family: 'Cocogoose-Thin';
    color: black;
}

.trueno-regular-text-black {
    font-family: 'Trueno-Regular';
    color: black;
}

.trueno-regular-text-red {
    font-family: 'Trueno-Regular';
    color: #BF3F44;
}

.trueno-light-text-black {
    font-family: 'Trueno-Light';
    color: black;
}

.trueno-light-text-white {
    font-family: 'Trueno-Light';
    color: white;
}

.trueno-semibold-text-black {
    font-family: 'Trueno-Semibold';
    color: black;
}

.trueno-bold-italic-text-black {
    font-family: 'Trueno-Bold-Italic';
    color: black;
}

.trueno-semibold-text-red {
    font-family: 'Trueno-Semibold';
    color: #BF3F44;
}

@media (min-width: 465px) {
    #uniEatsLogo {
        max-height: 60px;
    }
}
  
@media (max-width: 464px) {
    #uniEatsLogo {
        max-height: 50px;
    }
}

.custom-btn-toggle {
    --bs-btn-color: #BF3F44 !important;
    --bs-btn-bg: none !important;
    --bs-btn-border-color: none !important;
    --bs-btn-hover-color: none !important;
    --bs-btn-hover-bg: none !important;
    --bs-btn-hover-border-color: none !important;
    --bs-btn-active-color: none;
}

.active-menu {
    background-color: #FFE793;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

li {
    list-style: none;
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: #FFF8DE;
    transition: all 0.35s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: white;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.avatar {
    height: 40px;
    width: 40px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width:920px) {
    .content {
        max-width: auto;
        width: auto;
    }
}

#sidebar.collapsed {
    margin-left: -264px;
}

@media (max-width:919.98px) {
    .js-sidebar {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }
}

div#AvatarFileUpload {
    position: relative;
    width: 150px;
    height: 150px;
    background: #f9f9f9;
    border: 3px solid #ffe073;
    border-radius: 50% 50%;
    margin: auto;
}
  
div#AvatarFileUpload > .selected-image-holder {
    width: 100%;
    height: 100%;
    border-radius: 50% 50%;
}
  
div#AvatarFileUpload > .selected-image-holder {
    width: 100%;
    overflow: hidden;
}
  
div#AvatarFileUpload > .selected-image-holder > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: center center;
}
  
div#AvatarFileUpload > .avatar-selector {
    position: absolute;
    bottom: 8px;
    right: 19%;
    width: 20px;
    height: 20px;
}
  
div#AvatarFileUpload > .avatar-selector input[type="file"] {
    display: none;
}
  
div#AvatarFileUpload > .avatar-selector > .avatar-selector-btn {
    width: 100%;
    height: 100%;
    background: white;
    padding: 5px 7px;
    border-radius: 50% 50%;
}
  
div#AvatarFileUpload > .avatar-selector > .avatar-selector-btn > i {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center center;
    z-index: 2;
}
  
.input-field {
    background-color: transparent;
}

.btn-change-pass {  
    align-items: center !important;
    border-color: #BF3F44 !important;
    color: white !important;
    background-color: #BF3F44 !important;
    border-radius: 15px !important;
    border-width: 1.5px !important;
    height: 3rem;
    font-family: "Trueno-SemiBold" !important;
    --bs-btn-padding-x: 2.75rem !important;
    cursor: pointer !important;
}

.btn-update {  
    align-items: center !important;
    border-color: #fc898e !important;
    color: white !important;
    background-color: #FC898E !important;
    border-radius: 15px !important;
    border-width: 1.5px !important;
    height: 3rem;
    font-family: "Trueno-SemiBold" !important;
    --bs-btn-padding-x: 2.75rem !important;
    cursor: pointer !important;
}

.btn-save {  
    align-items: center !important;
    border-color: #4CD964 !important;
    color: white !important;
    background-color: #4CD964 !important;
    border-radius: 15px !important;
    border-width: 1.5px !important;
    height: 3rem;
    font-family: "Trueno-SemiBold" !important;
    --bs-btn-padding-x: 2.75rem !important;
    cursor: pointer !important;
}

.btn-cancel {  
    align-items: center !important;
    border-color: #FC0E55 !important;
    color: white !important;
    background-color: #FC0E55 !important;
    border-radius: 15px !important;
    border-width: 1.5px !important;
    height: 3rem;
    font-family: "Trueno-SemiBold" !important;
    --bs-btn-padding-x: 2.75rem !important;
    cursor: pointer !important;
}

@media (min-width: 768px) {
    .custom-px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}

@media (max-width: 767px) {
    .custom-px-4 {
        padding-right: .5rem !important;
        padding-left: .5rem !important;
    }
}

@media (min-width: 1300px) {
    .custom-col-3 {
        flex: 0 0 auto;
        width: 33.33333333% !important;
    }
}

@media (max-width: 1299px) {
    .custom-col-3 {
        flex: 0 0 auto;
        width: 41.66666667% !important;
    }
}

@media (max-width: 1199px) {
    .custom-col-3 {
        flex: 0 0 auto;
        width: 50% !important;
    }
}

@media (max-width: 1080px) {
    .custom-col-3 {
        flex: 0 0 auto;
        width: 83.33333333% !important;
    }
}

.form-input-style {
    border-color: #FFEAEB !important;
    border-radius: 15px !important;
    border-width: 1px !important;
    height: 3rem;
    background-color: #FFF8F8 !important;
}

.form-input-style-disabled {
    border-color: transparent !important;
    border-radius: 15px !important;
    border-width: 1px !important;
    height: 3rem;
    background-color: transparent !important;
}

@media (min-width: 1435px) {
    .custom-col-6 {
        flex: 0 0 auto;
        width: 90% !important;
    }
}

@media (max-width: 1434px) {
    .custom-col-6 {
        flex: 0 0 auto;
        width: 100% !important;
    }
}

.image-holder {
    width: 100%;
    height: 100%;
    border-radius: 50% 50%;
}

.image-holder>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: center center;
}