@font-face {
  font-family: "Cocogoose-Regular";
  src: url("../fonts/cocogoose-pro-regular-trial-webfont.woff2") format("woff2"),
    url("../fonts/cocogoose-pro-regular-trial-webfont.woff") format("woff"),
    url("../fonts/Cocogoose-Pro-Regular-trial.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Cocogoose-Semilight";
  src: url("../fonts/cocogoose-pro-semilight-trial-webfont.woff2")
      format("woff2"),
    url("../fonts/cocogoose-pro-semilight-trial-webfont.woff") format("woff"),
    url("../fonts/Cocogoose-Pro-Semilight-trial.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Cocogoose-Thin";
  src: url("../fonts/cocogoose-pro-thin-trial-webfont.woff2") format("woff2"),
    url("../fonts/cocogoose-pro-thin-trial-webfont.woff") format("woff"),
    url("../fonts/Cocogoose-Pro-Thin-trial.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Regular";
  src: url("../fonts/truenorg-webfont.woff2") format("woff2"),
    url("../fonts/truenorg-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Light";
  src: url("../fonts/truenolt-webfont.woff2") format("woff2"),
    url("../fonts/truenolt-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Semibold";
  src: url("../fonts/truenosbd-webfont.woff2") format("woff2"),
    url("../fonts/truenosbd-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Bold-Italic";
  src: url("../fonts/truenobdit-webfont.woff2") format("woff2"),
    url("../fonts/truenobdit-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

.cocogoose-regular-text-red {
  font-family: "Cocogoose-Regular";
  color: #bf3f44;
}

.cocogoose-semilight-text-red {
  font-family: "Cocogoose-Semilight";
  color: #bf3f44;
}

.cocogoose-semilight-text-white {
  font-family: "Cocogoose-Semilight";
  color: white;
}

.cocogoose-light-text-red {
  font-family: "Cocogoose-Semilight";
  color: #bf3f44;
}

.cocogoose-thin-text-red {
  font-family: "Cocogoose-Thin";
  color: #bf3f44;
}

.cocogoose-regular-text-black {
  font-family: "Cocogoose-Regular" !important;
  color: black;
}

.cocogoose-regular-text-white {
  font-family: "Cocogoose-Regular" !important;
  color: white;
}

.cocogoose-semilight-text-black {
  font-family: "Cocogoose-Semilight" !important;
  color: black !important;
}

.cocogoose-thin-text-black {
  font-family: "Cocogoose-Thin";
  color: black;
}

.trueno-regular-text-black {
  font-family: "Trueno-Regular";
  color: black;
}

.trueno-regular-text-red {
  font-family: "Trueno-Regular";
  color: #bf3f44;
}

.trueno-light-text-black {
  font-family: "Trueno-Light";
  color: black;
}

.trueno-light-text-red {
  font-family: "Trueno-Light";
  color: #fc898e;
}

.trueno-light-text-white {
  font-family: "Trueno-Light";
  color: white;
}

.trueno-semibold-text-black {
  font-family: "Trueno-Semibold";
  color: black;
}

.trueno-bold-italic-text-black {
  font-family: "Trueno-Bold-Italic";
  color: black;
}

.trueno-semibold-text-red {
  font-family: "Trueno-Semibold";
  color: #bf3f44;
}

@media (min-width: 465px) {
  #uniEatsLogo {
    max-height: 60px;
  }
}

@media (max-width: 464px) {
  #uniEatsLogo {
    max-height: 50px;
  }
}

.custom-btn-toggle {
  --bs-btn-color: #bf3f44 !important;
  --bs-btn-bg: none !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-color: none !important;
  --bs-btn-hover-bg: none !important;
  --bs-btn-hover-border-color: none !important;
  --bs-btn-active-color: none;
}

.active-menu {
  background-color: #ffe793;
}

.form-input-style {
  border-color: #fc898e !important;
  background-color: white;
  border-radius: 15px !important;
  border-width: 1.5px !important;
  height: 3rem;
  font-family: "Trueno-Regular";
}

.form-input-style::placeholder {
  font-family: "Trueno-Light";
  color: #fc898e !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  opacity: 1;
  overflow-y: scroll;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

li {
  list-style: none;
}

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar {
  max-width: 264px;
  min-width: 264px;
  background: #fff8de;
  transition: all 0.35s ease-in-out;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  width: 100%;
  background: white;
}

.sidebar-nav {
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}

.sidebar-header {
  color: #e9ecef;
  font-size: 0.75rem;
  padding: 1.5rem 1.5rem 0.375rem;
}

a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #e9ecef;
  position: relative;
  display: block;
  font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}

.avatar {
  height: 40px;
  width: 40px;
}

.navbar-expand .navbar-nav {
  margin-left: auto;
}

.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
}

@media (min-width: 768px) {
  .content {
    max-width: auto;
    width: auto;
  }
}

.card {
  box-shadow: 0 0 0.875rem 0 rgba(34, 46, 60, 0.05);
  margin-bottom: 24px;
}

#sidebar.collapsed {
  margin-left: -264px;
}

@media (max-width: 767.98px) {
  .js-sidebar {
    margin-left: -264px;
  }

  #sidebar.collapsed {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .custom-col-3-5 {
    flex: 0 0 auto;
    width: 48% !important;
  }

  .custom-col-0-5 {
    flex: 0 0 auto !important;
    width: 4% !important;
  }
}

@media (max-width: 1199px) {
  .custom-col-3-5 {
    flex: 0 0 auto;
    width: 100% !important;
  }

  .custom-col-0-5 {
    flex: 0 0 auto !important;
    width: 0% !important;
  }
}

.eatery-card {
  box-shadow: 0px 5px 12px #c6c6c6;
  border-radius: 30px;
  border: 5px solid transparent;
  background-color: white;
  transition: border-color 0.3s ease;
}

.eatery-card:hover {
  border-color: #ffe073;
  padding: 3px;
  transition: border-color 0.3s ease;
}

.icon-hidden {
  display: none;
  transition: display 0.3s ease;
  cursor: pointer;

}

.eatery-card:hover .icon-hidden {
  display: block;
  transition: display 0.3s ease;
}

@media (min-width: 1530px) {
  .custom-col-5-1 {
    flex: 0 0 auto;
    width: 55% !important;
  }

  /* .custom-col-5-1 {
    flex: 0 0 auto;
    width: 41.66666667% !important;
  } */

  .custom-col-6-1 {
    flex: 0 0 auto;
    width: 45% !important;
  }

  .custom-mt-2 {
    margin-top: 0.5rem !important;
  }

  .custom-mt-3 {
    margin-top: 1rem !important;
  }

  .rating-display-below {
    display: block !important;
  }
}

@media (max-width: 1529px) {
  .custom-col-5-1 {
    flex: 0 0 auto;
    width: 100% !important;
  }

  .custom-col-6-1 {
    flex: 0 0 auto;
    width: 100% !important;
  }

  .custom-mt-2 {
    margin-top: 0rem !important;
  }

  .custom-mt-3 {
    margin-top: 0rem !important;
  }

  .rating-display-below {
    display: none !important;
  }
}

.rating-wrapper {
  align-self: center;
  display: inline-flex;
  direction: rtl !important;

  label {
    color: #e1e6f6;
    display: inline-flex;
    font-size: 2rem;
    padding: 0rem 0.3rem 0.3rem 0rem;
    transition: color 0.5s;
  }

  input {
    height: 100%;
    width: 100%;
  }

  input {
    display: none;
  }
}

textarea {
  background-color: transparent;
  width: 100% !important;
  border: transparent;
  resize: none !important;
}

textarea:active,
textarea:focus {
  border: none !important;
  outline: none !important;
  resize: none !important;
}

textarea::-webkit-scrollbar {
  display: none !important;
}

.tbr-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

@media (min-width: 1441px) {
  .rating-display-above {
    display: none !important;
  }

  .rating-display-inline {
    display: block !important;
  }
}

@media (max-width: 1440px) {
  .rating-display-above {
    display: block !important;
  }

  .rating-display-inline {
    display: none !important;
  }
}

.add-eatery-icon {
    color: #fc898e;
    transition: color 0.3s ease;
}

.add-eatery-card {
  box-shadow: 0px 5px 12px #c6c6c6;
  border-radius: 30px;
  border: 5px solid transparent;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.add-eatery-card:hover {
    border-color: #fc898e;
    background-color: #fc898e;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.add-eatery-card:hover .add-eatery {
  border-color: white;
  background-color: #fc898e;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.add-eatery-card:hover .add-eatery .add-eatery-icon {
    color: white;
    transition: color 0.3s ease;
}

.add-eatery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px dashed #fc898e;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

@media (min-width: 1530px) {
    .col-3-v2 {
        flex: 0 0 auto;
        width: 30% !important;
      }
}

@media (max-width: 1529px) {
    .col-3-v2 {
        flex: 0 0 auto;
        width: 47% !important;
      }
}

@media (max-width: 1199px) {
    .col-3-v2 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .add-eatery-card-lg {
        display: none !important;
    }

    .add-eatery-card-sm {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .add-eatery-card-lg {
        display: block !important;
    }

    .add-eatery-card-sm {
        display: none !important;
    }
}

@media (min-width: 1404px) {
    .custom-mx-3{
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
}

@media (max-width: 1403px) {
    .custom-mx-3{
        margin-right: .5rem !important;
        margin-left: .5rem !important;
    }
}

.image-holder {
    width: 100%;
    height: 100%;
    border-radius: 50% 50%;
}

.image-holder>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: center center;
}

@media (min-width: 1435px) {
    .custom-col-6 {
        flex: 0 0 auto;
        width: 90% !important;
    }
}

@media (max-width: 1434px) {
    .custom-col-6 {
        flex: 0 0 auto;
        width: 100% !important;
    }
}

.edit-icon {
  color: #FFE793;
  background-color: white;
  padding: .5rem;
  border-radius: 50%;
  font-size: 1.2rem;
  border: 2px solid black;
}

.delete-icon {
  color: #BF3F44;
  background-color: white;
  padding: .5rem;
  border-radius: 50%;
  font-size: 1.2rem;
  border: 2px solid black;
}

.menu-icon {
  color: #0040AA;
  background-color: white;
  padding: .5rem;
  border-radius: 50%;
  font-size: 1.2rem;
  border: 2px solid black;
}