@font-face {
    font-family: 'Cocogoose-Regular';
    src: url('../fonts/cocogoose-pro-regular-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-regular-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Regular-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Cocogoose-Semilight';
    src: url('../fonts/cocogoose-pro-semilight-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-semilight-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Semilight-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Cocogoose-Thin';
    src: url('../fonts/cocogoose-pro-thin-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-thin-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Thin-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Trueno-Regular';
    src: url('../fonts/truenorg-webfont.woff2') format('woff2'),
          url('../fonts/truenorg-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Trueno-Light';
    src: url('../fonts/truenolt-webfont.woff2') format('woff2'),
          url('../fonts/truenolt-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

@font-face {
    font-family: 'Trueno-Semibold';
    src: url('../fonts/truenosbd-webfont.woff2') format('woff2'),
          url('../fonts/truenosbd-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

@font-face {
    font-family: 'Trueno-Bold-Italic';
    src: url('../fonts/truenobdit-webfont.woff2') format('woff2'),
          url('../fonts/truenobdit-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

@media (min-width: 1400px) {
    main {
        background-image: url(../assets/img/contact-bg-big.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .custom-col-6 {
        flex: 0 0 auto;
        width: 50% !important;
    }
}

@media (max-width: 1399px) {
    main {
        background-image: url(../assets/img/contact-bg-small.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .custom-col-6 {
        flex: 0 0 auto;
        width: 91.66666667% !important;
    }
}

body, html {
    overflow-x: hidden;
    /* overflow-y: hidden; */
    margin: 0; 
    padding: 0;
}

main {
    margin: 0; 
    padding: 0;
}

@media (min-width: 465px) {
    #uniEatsLogo {
        max-height: 60px;
    }
}
  
@media (max-width: 464px) {
    #uniEatsLogo {
        max-height: 50px;
    }
}

.nav-text {
    font-size: calc(0.8rem + 1.31vw);
    font-family: 'Cocogoose-Semilight';
    color: black;
}

@media (min-width: 1200px) {
    .nav-text {
        font-size: 24px !important;
        font-family: 'Cocogoose-Semilight' !important;
        color: black;
    }
}

.nav-text-active {
    color: #BF3F44 !important;
}

@media (min-width: 1600px) {
    #hidden-nav {
        display: none;
    }
  
    #hidden-side-nav {
        display: block;
    }
}
  
@media (max-width: 1599px) {
    #hidden-nav {
        display: block;
    }
  
    #hidden-side-nav{
        display: none;
    }
}

.cocogoose-regular-text-red {
    font-family: 'Cocogoose-Regular';
    color: #BF3F44;
}

.cocogoose-semilight-text-red {
    font-family: 'Cocogoose-Semilight';
    color: #BF3F44;
}

.cocogoose-semilight-text-white {
    font-family: 'Cocogoose-Semilight';
    color: white;
}

.cocogoose-light-text-red {
    font-family: 'Cocogoose-Semilight';
    color: #BF3F44;
}

.cocogoose-thin-text-red {
    font-family: 'Cocogoose-Thin';
    color: #BF3F44;
}

.cocogoose-regular-text-black {
    font-family: 'Cocogoose-Regular' !important;
    color: black;
}

.cocogoose-regular-text-white {
    font-family: 'Cocogoose-Regular' !important;
    color: white;
}

.cocogoose-semilight-text-black {
    font-family: 'Cocogoose-Semilight';
    color: black;
}

.cocogoose-thin-text-black {
    font-family: 'Cocogoose-Thin';
    color: black;
}

.trueno-regular-text-black {
    font-family: 'Trueno-Regular';
    color: black;
}

.trueno-regular-text-red {
    font-family: 'Trueno-Regular';
    color: #BF3F44;
}

.trueno-light-text-black {
    font-family: 'Trueno-Light';
    color: black;
}

.trueno-light-text-white {
    font-family: 'Trueno-Light';
    color: white;
}

.trueno-semibold-text-black {
    font-family: 'Trueno-Semibold';
    color: black;
}

.trueno-bold-italic-text-black {
    font-family: 'Trueno-Bold-Italic';
    color: black;
}

.trueno-semibold-text-red {
    font-family: 'Trueno-Semibold';
    color: #BF3F44;
}

.btn-red-fill {  
    font-size: 1.5rem !important;

    --bs-btn-color: white !important;
    --bs-btn-bg: #BF3F44 !important;
    --bs-btn-border-color: #BF3F44 !important;
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-bg: #a8373b !important;
    --bs-btn-hover-border-color: #a8373b !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    border-radius: 50px !important;
}

.btn-red-outline {  
    font-size: 1.5rem !important;

    --bs-btn-color: #BF3F44 !important;
    --bs-btn-bg: white !important;
    --bs-btn-border-color: #BF3F44 !important;
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-bg: #a8373b !important;
    --bs-btn-hover-border-color: #a8373b !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    border-radius: 50px !important;
}

.btn-red-outline-upload-file {  
    --bs-btn-color: #BF3F44 !important;
    --bs-btn-bg: white !important;
    --bs-btn-border-color: #BF3F44 !important;
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-bg: #a8373b !important;
    --bs-btn-hover-border-color: #a8373b !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    border-radius: 50px !important;
}

.form-input-style {
    border-color: #FFEAEB !important;
    border-radius: 15px !important;
    border-width: 1px !important;
    height: 3rem;
    font-family: 'Trueno-Regular';
}

.form-textarea-style {
    border-color: #FFEAEB !important;
    border-radius: 15px !important;
    border-width: 1px !important;
    font-family: 'Trueno-Regular';
    resize: none;
    padding: .8rem;  
}

@media (min-width: 651px) {
    .white-container {
        background-color: white; 
        border-radius: 30px; 
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); 
        width: 85% !important;
    }
}

@media (max-width: 650px) {
    .white-container {
        background-color: white; 
        border-radius: 30px; 
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); 
        width: 100% !important;
    }
}


@media (min-width: 582px) {
    .custom-p-5 {
        padding: 3rem !important;
    }
}

@media (max-width: 581px) {
    .custom-p-5 {
        padding: 3rem 1rem 3rem 1rem !important;
    }
}

@media (min-width: 800px) {
    .custom-d-flex {
       display: flex !important;
    }
}

@media (max-width: 799px) {
    .custom-d-flex {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .custom-px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}

@media (max-width: 767px) {
    .custom-px-4 {
        padding-right: .5rem !important;
        padding-left: .5rem !important;
    }
}