@font-face {
  font-family: "Cocogoose-Regular";
  src: url("../fonts/cocogoose-pro-regular-trial-webfont.woff2") format("woff2"),
    url("../fonts/cocogoose-pro-regular-trial-webfont.woff") format("woff"),
    url("../fonts/Cocogoose-Pro-Regular-trial.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Cocogoose-Semilight";
  src: url("../fonts/cocogoose-pro-semilight-trial-webfont.woff2")
      format("woff2"),
    url("../fonts/cocogoose-pro-semilight-trial-webfont.woff") format("woff"),
    url("../fonts/Cocogoose-Pro-Semilight-trial.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Cocogoose-Thin";
  src: url("../fonts/cocogoose-pro-thin-trial-webfont.woff2") format("woff2"),
    url("../fonts/cocogoose-pro-thin-trial-webfont.woff") format("woff"),
    url("../fonts/Cocogoose-Pro-Thin-trial.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Regular";
  src: url("../fonts/truenorg-webfont.woff2") format("woff2"),
    url("../fonts/truenorg-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Light";
  src: url("../fonts/truenolt-webfont.woff2") format("woff2"),
    url("../fonts/truenolt-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Semibold";
  src: url("../fonts/truenosbd-webfont.woff2") format("woff2"),
    url("../fonts/truenosbd-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Bold-Italic";
  src: url("../fonts/truenobdit-webfont.woff2") format("woff2"),
    url("../fonts/truenobdit-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@media (min-width: 465px) {
  #uniEatsLogo {
    max-height: 60px;
  }
}

@media (max-width: 464px) {
  #uniEatsLogo {
    max-height: 50px;
  }
}

.nav-text {
  font-size: calc(0.8rem + 1.31vw);
  font-family: 'Cocogoose-Semilight';
  color: black;
}

@media (min-width: 1200px) {
  .nav-text {
      font-size: 24px !important;
      font-family: 'Cocogoose-Semilight' !important;
      color: black;
  }
}

.nav-text-active {
  color: #BF3F44 !important;
}

@media (min-width: 1600px) {
  #hidden-nav {
      display: none;
  }

  #hidden-side-nav {
      display: block;
  }
}

@media (max-width: 1599px) {
  #hidden-nav {
      display: block;
  }

  #hidden-side-nav{
      display: none;
  }
}

.cocogoose-regular-text-red {
  font-family: "Cocogoose-Regular";
  color: #bf3f44;
}

.cocogoose-semilight-text-red {
  font-family: "Cocogoose-Semilight";
  color: #bf3f44;
}

.cocogoose-thin-text-red {
  font-family: "Cocogoose-Thin";
  color: #bf3f44;
}

.cocogoose-regular-text-black {
  font-family: "Cocogoose-Regular" !important;
  color: black;
}

.cocogoose-regular-text-white {
  font-family: "Cocogoose-Regular" !important;
  color: white !important;
}

.cocogoose-semilight-text-black {
  font-family: "Cocogoose-Semilight" !important;
  color: black !important;
}

.cocogoose-semilight-text-white {
    font-family: "Cocogoose-Semilight" !important;
    color: white !important;
}

.cocogoose-thin-text-black {
  font-family: "Cocogoose-Thin";
  color: black;
}

.trueno-regular-text-black {
  font-family: "Trueno-Regular" !important;
  color: black !important;
}

.trueno-regular-text-red {
  font-family: "Trueno-Regular";
  color: #bf3f44;
}

.trueno-light-text-black {
  font-family: "Trueno-Light";
  color: black !important;
}

.trueno-light-text-red {
  font-family: "Trueno-Light";
  color: #fc898e;
}

.trueno-light-text-dark-red {
  font-family: "Trueno-Light";
  color: #bf3f44;
}

.trueno-light-text-gray {
  font-family: "Trueno-Light";
  color: #666666;
}

.trueno-semibold-text-light-red {
  font-family: "Trueno-Semibold";
  color: #fc898e;
}

.trueno-semibold-text-red {
  font-family: "Trueno-Semibold";
  color: #bf3f44;
}

.trueno-semibold-text-black {
  font-family: "Trueno-Semibold";
  color: black;
}

.trueno-bold-italic-text-black {
  font-family: "Trueno-Bold-Italic";
  color: black;
}

.eateries-container {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #fff4ce;
  z-index: 1;
}

.eateries-content {
  flex: 1;
  overflow-y: auto;
}

.form-input-style {
  border-color: #fc898e !important;
  background-color: white;
  border-radius: 15px !important;
  border-width: 1.5px !important;
  height: 3rem;
  font-family: "Trueno-Regular";
}

.form-input-style::placeholder {
  font-family: "Trueno-Light";
  color: #fc898e !important;
}

.dish-category-style {
  border-color: #fc898e !important;
  background-color: white;
  border-radius: 15px !important;
  border-width: 1.5px !important;
  height: 3rem;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  background: white;
}

#sidebar ul li a {
  padding: 10px;
  display: block;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.sublist {
  background-color: white;
}

.price-range-input::placeholder {
    color: rgba(0,0,0, .28) !important;
    text-align: center !important;
}


@media (min-width: 800px) {
    .custom-col-5 {
        flex: 0 0 auto !important;
        width: 41.66666667% !important;
    }

    .custom-col-2 {
        flex: 0 0 auto !important;
        width: 16.66666667% !important;
    }

    .custom-mb-3 {
        margin-bottom: 0rem !important;
    }

    .form-input-style-container {
        border-color: #fc898e !important;
        background-color: white !important;
        border-radius: 15px !important;
        border-width: 1.5px !important;
        height: 4rem !important;
    }
}

@media (max-width: 799px) {
    .custom-col-5 {
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .custom-col-2 {
        flex: 0 0 auto !important;
        width: 0% !important;
    }

    .custom-mb-3 {
        margin-bottom: 1rem !important;
    }

    .form-input-style-container {
        border-color: #fc898e !important;
        background-color: white !important;
        border-radius: 15px !important;
        border-width: 1.5px !important;
        height: 7.5rem !important;
    }
}

@media (min-width: 800px) {
    .custom-col-6 {
        flex: 0 0 auto;
        width: 50% !important;
    }

    .custom-col-4 {
        flex: 0 0 auto;
        width: 33.33333333% !important;
    }

    .custom-mb-2 {
        margin-bottom: 0rem !important;
    }

    .custom-mt-7 {
        margin-top: 0rem !important;
    }

    .custom-p-0 {
        padding: 0rem !important;
    }

    .custom-p-1 {
        padding: 0rem !important;
    }
}

@media (max-width: 799px) {
    .custom-col-6 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .custom-col-4 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .custom-mb-2 {
        margin-bottom: .5rem !important;
    }

    .custom-mt-7 {
        margin-top: 6rem !important;
    }

    .custom-p-0 {
        padding: 0.5rem !important;
    }

    .custom-p-1 {
        padding: 0.25rem !important;
    }
}

@media (min-width: 1200px) {
  .custom-col-3-5 {
    flex: 0 0 auto;
    width: 48% !important;
  }

  .custom-col-0-5 {
    flex: 0 0 auto !important;
    width: 4% !important;
  }
}

@media (max-width: 1199px) {
  .custom-col-3-5 {
    flex: 0 0 auto;
    width: 100% !important;
  }

  .custom-col-0-5 {
    flex: 0 0 auto !important;
    width: 0% !important;
  }
}


@media (min-width: 1530px) {
  .custom-col-5-1 {
    flex: 0 0 auto;
    width: 41.66666667% !important;
  }

  .custom-col-6-1 {
    flex: 0 0 auto;
    width: 50% !important;
  }

  .custom-mt-2 {
    margin-top: 0.5rem !important;
  }

  .custom-mt-3 {
    margin-top: 1rem !important;
  }

  .rating-display-above {
    display: none !important;
  }

  .rating-display-below {
    display: block !important;
  }
}

@media (max-width: 1529px) {
  .custom-col-5-1 {
    flex: 0 0 auto;
    width: 100% !important;
  }

  .custom-col-6-1 {
    flex: 0 0 auto;
    width: 100% !important;
  }

  .custom-mt-2 {
    margin-top: 0rem !important;
  }

  .custom-mt-3 {
    margin-top: 0rem !important;
  }

  .rating-display-above {
    display: block !important;
  }

  .rating-display-below {
    display: none !important;
  }
}

.eatery-card {
  position: relative;
  box-shadow: 0px 5px 12px #c6c6c6; 
  border-radius: 30px; 
  border: 5px solid transparent;
  background-color: white;
}

.tbr-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.rating-wrapper {
  align-self: center;
  display: inline-flex;
  direction: rtl !important;
  
  label {
    color: #E1E6F6;
    display: inline-flex;
    font-size: 2rem;
    padding: 0rem .3rem .3rem 0rem;
    transition: color 0.5s;
  }

  input {
    height: 100%;
    width: 100%;
  }
  
  input {
    display: none;
  }
}

textarea {
  background-color: transparent;
  width: 100% !important;
  border: transparent;
  resize: none !important;
}

textarea:active,
textarea:focus {
  border: none !important;
  outline: none !important;
  resize: none !important; 
}

textarea::-webkit-scrollbar {
  display: none !important;
}

.open-status {
  border: solid 1px #2BBA51;
  border-radius: 15px;
  font-family: "Trueno-Regular";
  color: #34A853;
}

.closed-status {
  border: solid 1px #FC0E55;
  border-radius: 15px;
  font-family: "Trueno-Regular";
  color: #bf3f44;
}

.category {
  background-color: white;
  border-color: transparent;
  color: #bf3f44;
  border-radius: 50px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  box-shadow: 0px 5px 12px #c6c6c6;
  display: inline-block;
  margin: 0 0 .5rem 0;
  transition: 0.3s ease;
}


.category:hover {
  background-color: #bf3f44 !important;
  color: white !important;
}

.category-container {
  display: flex;
  gap: 20px !important;
}

@media (max-width: 560px) {
  .category-container {
    display: none !important;
  }
}

@media (min-width: 561px) {
  .category-container-dropdown {
    display: none !important;
  }
}

@media (max-width: 560px) {
  .category-container-dropdown {
    display: block !important;
  }
}

.meal-img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  
}

@media (min-width: 1250px) {
  .custom-col-6-2 {
    flex: 0 0 auto;
    width: 50% !important;
  }

  .custom-col-8 {
    flex: 0 0 auto;
    width: 66.66666667% !important;
  }

  .see-review-btn-lg {
    display: block !important;
  }

  .see-review-btn-sm {
    display: none !important;
  }
}

@media (max-width: 1249px) {
  .custom-col-6-2 {
    flex: 0 0 auto;
    width: 100% !important;
  }

  .custom-col-8 {
    flex: 0 0 auto;
    width: 100% !important;
  }

  .see-review-btn-lg {
    display: none !important;
  }

  .see-review-btn-sm {
    display: block !important;
  }
}

@media (min-width: 1025px) {
  .rating-lg {
    display: block !important;
  }

  .rating-star-lg {
    display: inline-flex !important;
  }

  .rating-sm {
    display: none !important;
  }

  .rating-star-sm {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .rating-lg {
    display: none !important;
  }

  .rating-star-lg {
    display: none !important;
  }

  .rating-sm {
    display: inline !important;
  }

  .rating-star-sm {
    display: inline-flex !important;
  }
}
/* 
@media (min-width: 586px) {
  .rating-xsm {
    display: none !important;
  }
}

@media (max-width: 585px) {
  .rating-xsm {
    display: block !important;
  }

  .rating-sm {
    display: none !important;
  }
} */

@media (min-width: 1284px) {
  .custom-col-3-5 {
    flex: 0 0 auto;
    width: 32% !important;
  }
}

@media (max-width: 1283px) {
  .custom-col-3-5 {
    flex: 0 0 auto;
    width: 48% !important;
  }
}

@media (max-width: 885px) {
  .custom-col-3-5 {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

.btn-red-fill {
  font-size: 1.5rem !important;
  font-family: "Cocogoose-Semilight" !important;

  --bs-btn-color: white !important;
  --bs-btn-bg: #bf3f44 !important;
  --bs-btn-border-color: #bf3f44 !important;
  --bs-btn-hover-color: white !important;
  --bs-btn-hover-bg: #a8373b !important;
  --bs-btn-hover-border-color: #a8373b !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  border-radius: 50px !important;
}

.btn-red-outline {
  font-size: 1.5rem !important;

  --bs-btn-color: #bf3f44 !important;
  --bs-btn-bg: white !important;
  --bs-btn-border-color: #bf3f44 !important;
  --bs-btn-hover-color: white !important;
  --bs-btn-hover-bg: #a8373b !important;
  --bs-btn-hover-border-color: #a8373b !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  border-radius: 50px !important;
}

.modal {
 border-radius: 100px !important;
}

.modal-content {
  border-radius: 20px !important;
  width: 100% !important;
  height: 100% !important;
}

.modal-body {
  padding: 0 !important;
}

.modal-body img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 20 20px 0px 0px !important;
  object-fit: cover !important; 
}

.progress{
  margin-top: 1rem;
  border-radius: 0; 
}

.progress-bar {
  background-color: #FFE793 !important;
}

.review-avatar {
  border-radius: 50%;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100% !important;
  width: 100% !important;
}

.custom-star-rating {
  font-size: 1.5rem !important;
}

@media (min-width: 992px) {
  .custom-col-1-5 {
    flex: 0 0 auto !important;
    width: 12.5% !important;
  }

  .custom-col-7 {
    flex: 0 0 auto !important;
    width: 58.33333333% !important;
  }

  .custom-col-review {
    flex: 0 0 auto !important;
    width: 87.5% !important;
  }
}

@media (max-width: 991px) {
  .custom-col-1-5 {
    flex: 0 0 auto !important;
    width: 16.66666667% !important;
  }

  .custom-col-7 {
    flex: 0 0 auto !important;
    width: 54% !important;
  }

  .custom-col-review {
    flex: 0 0 auto !important;
    width: 83.3% !important;
  }
}

.img-container-grid{
  display:flex;
  flex-wrap: wrap;
}

.smallsquare {
  max-width:20%;
  height:auto;
  flex:0 0 20%;
  padding-top:20%;
  display:grid;
  position:relative;
}

.img-grid-c{
  width:100%;
  height:100%;
  top:0;
  left:0;
  position:absolute;
  object-fit:cover;
  object-position:center;
  padding:2.5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:focus {
  outline: none;
}

.close-btn .fas {
  color: black;
  font-size: 20px;
}

.filter-by {
  cursor: pointer;
}

.custom-color-checkbox {
  accent-color: #FC898E;
}

.back-button {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1000;
  cursor: pointer;
}

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
  background-color: #fff4ce;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  width: 100%;
  background: white;
}

.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
}

@media (min-width:1045px) {
  .content {
      max-width: auto;
      width: auto;
  }
}

@media (min-width: 985px) {
  .rating-display-above {
    display: none !important;
  }

  .rating-display-inline {
    display: block !important;
    direction: ltr !important;
  }
}

@media (max-width: 984px) {
  .rating-display-above {
    display: block !important;
  }

  .rating-display-inline {
    display: none !important;
    direction: ltr !important;
  }
}