@font-face {
    font-family: 'Cocogoose-Regular';
    src: url('../fonts/cocogoose-pro-regular-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-regular-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Regular-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Cocogoose-Semilight';
    src: url('../fonts/cocogoose-pro-semilight-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-semilight-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Semilight-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Cocogoose-Thin';
    src: url('../fonts/cocogoose-pro-thin-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-thin-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Thin-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Trueno-Regular';
    src: url('../fonts/truenorg-webfont.woff2') format('woff2'),
          url('../fonts/truenorg-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Trueno-Light';
    src: url('../fonts/truenolt-webfont.woff2') format('woff2'),
          url('../fonts/truenolt-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

@font-face {
    font-family: 'Trueno-Semibold';
    src: url('../fonts/truenosbd-webfont.woff2') format('woff2'),
          url('../fonts/truenosbd-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

@font-face {
    font-family: 'Trueno-Bold-Italic';
    src: url('../fonts/truenobdit-webfont.woff2') format('woff2'),
          url('../fonts/truenobdit-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

body, html {
    overflow-x: hidden;
    /* overflow-y: hidden; */
    margin: 0; 
    padding: 0;
    height: 100vh;
    background-color: white !important;
}

@media (min-width: 465px) {
    #uniEatsLogo {
        max-height: 60px;
    }
}
  
@media (max-width: 464px) {
    #uniEatsLogo {
        max-height: 50px;
    }
}

.nav-text {
    font-size: calc(0.8rem + 1.31vw);
    font-family: "Cocogoose-Semilight";
    color: black;
  }
  
.nav-text-red {
    font-size: calc(0.8rem + 1.31vw);
    font-family: "Cocogoose-Semilight";
    color: #bf3f44;
}
  
@media (min-width: 1200px) {
    .nav-text {
      font-size: 24px !important;
      font-family: "Cocogoose-Semilight" !important;
      color: black !important;
    }
  
    .nav-text-red {
      font-size: 24px !important;
      font-family: "Cocogoose-Semilight" !important;
      color: #bf3f44 !important;
    }
}

.nav-text-active {
    color: #BF3F44 !important;
}

@media (min-width: 1600px) {
    .hidden-nav {
      display: none !important;
    }
  
    .hidden-side-nav {
      display: block !important;
    }
  }
  
@media (max-width: 1599px) {
    .hidden-nav {
      display: block !important;
    }
  
    .hidden-side-nav {
      display: none !important;
    }
}

.cocogoose-regular-text-red {
    font-family: 'Cocogoose-Regular';
    color: #BF3F44;
}

.cocogoose-semilight-text-red {
    font-family: 'Cocogoose-Semilight';
    color: #BF3F44;
}

.cocogoose-semilight-text-white {
    font-family: 'Cocogoose-Semilight';
    color: white;
}

.cocogoose-light-text-red {
    font-family: 'Cocogoose-Semilight';
    color: #BF3F44;
}

.cocogoose-thin-text-red {
    font-family: 'Cocogoose-Thin';
    color: #BF3F44;
}

.cocogoose-regular-text-black {
    font-family: 'Cocogoose-Regular' !important;
    color: black;
}

.cocogoose-regular-text-white {
    font-family: 'Cocogoose-Regular' !important;
    color: white;
}

.cocogoose-semilight-text-black {
    font-family: 'Cocogoose-Semilight';
    color: black;
}

.cocogoose-thin-text-black {
    font-family: 'Cocogoose-Thin';
    color: black;
}

.trueno-regular-text-black {
    font-family: 'Trueno-Regular';
    color: black;
}

.trueno-regular-text-red {
    font-family: 'Trueno-Regular';
    color: #BF3F44;
}

.trueno-light-text-black {
    font-family: 'Trueno-Light';
    color: black;
}

.trueno-light-text-white {
    font-family: 'Trueno-Light';
    color: white;
}

.trueno-light-text-gray {
    font-family: "Trueno-Light";
    color: #666666;
}

.trueno-semibold-text-black {
    font-family: 'Trueno-Semibold';
    color: black;
}

.trueno-bold-italic-text-black {
    font-family: 'Trueno-Bold-Italic';
    color: black;
}

.trueno-semibold-text-red {
    font-family: 'Trueno-Semibold';
    color: #BF3F44;
}