@font-face {
    font-family: 'Cocogoose-Regular';
    src: url('../fonts/cocogoose-pro-regular-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-regular-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Regular-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Cocogoose-Semilight';
    src: url('../fonts/cocogoose-pro-semilight-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-semilight-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Semilight-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Cocogoose-Thin';
    src: url('../fonts/cocogoose-pro-thin-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-thin-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Thin-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Trueno-Regular';
    src: url('../fonts/truenorg-webfont.woff2') format('woff2'),
          url('../fonts/truenorg-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Trueno-Light';
    src: url('../fonts/truenolt-webfont.woff2') format('woff2'),
          url('../fonts/truenolt-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

@font-face {
    font-family: 'Trueno-Semibold';
    src: url('../fonts/truenosbd-webfont.woff2') format('woff2'),
          url('../fonts/truenosbd-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

@font-face {
    font-family: 'Trueno-Bold-Italic';
    src: url('../fonts/truenobdit-webfont.woff2') format('woff2'),
          url('../fonts/truenobdit-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

body, html {
    overflow-x: hidden;
    margin: 0; 
    padding: 0;
}

@media (min-width: 465px) {
    #uniEatsLogo {
        max-height: 60px;
    }
}
  
@media (max-width: 464px) {
    #uniEatsLogo {
        max-height: 50px;
    }
}

.nav-text {
    font-size: calc(0.8rem + 1.31vw);
    font-family: 'Cocogoose-Semilight';
    color: black;
}

@media (min-width: 1200px) {
    .nav-text {
        font-size: 24px !important;
        font-family: 'Cocogoose-Semilight' !important;
        color: black;
    }
}

.nav-text-active {
    color: #BF3F44 !important;
}

@media (min-width: 1600px) {
    #hidden-nav {
        display: none;
    }
  
    #hidden-side-nav {
        display: block;
    }
}
  
@media (max-width: 1599px) {
    #hidden-nav {
        display: block;
    }
  
    #hidden-side-nav{
        display: none;
    }
}

@media (min-width: 1409px) {
    .hero-1-img {
        display: block;
    }

    .hero-2-img {
        display: block;
    }

    #map {
        display: block;
    }

    .custom-col-6 {
        flex: 0 0 auto !important;
        width: 50% !important;
    }

    .custom-col-7-v2 {
        flex: 0 0 auto;
        width: 58.33333333% !important;
    }

    .custom-col-4 {
        flex: 0 0 auto !important;
        width: 33.33333333% !important;
    }

    .custom-col-5 {
        flex: 0 0 auto;
        width: 41.66666667% !important; 
    }

    .custom-col-10 {
        flex: 0 0 auto;
        width: 83.33333333% !important;
    }

    .custom-col-sub-text-2 {
        flex: 0 0 auto;
        width: 83.33333333% !important;
    }

    .custom-col-sub-text {
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .custom-text-center {
        text-align: start;
    }

    .bg-right {
        background-image: url('../assets/img/home-hero-bg-3.png');
        width: 100%;
        background-position: top right !important;
        background-repeat: no-repeat;
    }

    .res-hero-2-img {
        display: none;
    }

    .custom-ms-4 {
        margin-left: 1.5rem !important;
    }

    .person {
        display: block !important;
    }

    .custom-justify-content {
        justify-content: flex-end !important;
    }

    .custom-text-center {
        text-align: left;
    }

    .custom-mt-3 {
        margin-top: 0rem !important;
    }

    .custom-mx-auto {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .custom-col-11 {
        flex: 0 0 auto;
        width: 91.66666667% !important;
    }
}

@media (max-width: 1408px) {
    .hero-1-img {
        display: none !important;
    }

    .hero-2-img {
        display: none !important;
    }

    #map {
        display: none !important;
    }

    .custom-col-6 {
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .custom-col-7-v2 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .custom-col-4 {
        flex: 0 0 auto !important;
        width: 91.66666667% !important;
    }

    .custom-col-5 {
        flex: 0 0 auto;
        width: 100% !important; 
    }

    .custom-col-10 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .custom-col-sub-text {
        flex: 0 0 auto !important;
        width: 60% !important;
    }

    .custom-text-center {
        text-align: center;
    }

    .bg-right {
        
    }

    .custom-ms-4 {
        margin-left: 0rem !important;
    }

    .person {
        display: none !important;
    }

    .custom-justify-content {
        justify-content: center !important;
    }

    .custom-text-center {
        text-align: center;
    }

    .custom-mt-3 {
        margin-top: 1rem !important;
    }

    .custom-mx-auto {
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

@media (max-width: 1408px) and (min-width: 1111px) {
    .res-hero-2-img {
        position: absolute; 
        z-index: -1; 
        top: -200px; 
        right: -41px; 
        width: 1060px; 
        height: auto
    }
}

@media (max-width: 1110px) {
    .res-hero-2-img {
        position: absolute; 
        z-index: -1; 
        top: -200px; 
        right: -41px; 
        width: 950px; 
        height: auto
    }
}

@media (max-width: 1408px) and (min-width: 1200px) {
    .custom-col-sub-text {
        flex: 0 0 auto !important;
        width: 60% !important;
    }

    .custom-col-sub-text-2 {
        flex: 0 0 auto !important;
        width: 80% !important;
    }
    
    .custom-col-11 {
        flex: 0 0 auto;
        width: 75% !important;
    }
}

@media (max-width: 1199px){
    .custom-col-sub-text {
        flex: 0 0 auto !important;
        width: 90% !important;
    }

    .custom-col-sub-text-2 {
        flex: 0 0 auto !important;
        width: 90% !important;
    }

    .custom-col-11 {
        flex: 0 0 auto;
        width: 91.66666667% !important;
    }
}

@media (min-width: 992px) {
    .custom-display-xsm {
        font-size: 1.35rem;
    }
}

@media (max-width: 991px) {
    .custom-display-xsm {
        font-size: calc(0.65rem + 1.5vw);
    }
}

.cocogoose-regular-text-red {
    font-family: 'Cocogoose-Regular';
    color: #BF3F44;
}

.cocogoose-semilight-text-red {
    font-family: 'Cocogoose-Semilight';
    color: #BF3F44;
}

.cocogoose-thin-text-red {
    font-family: 'Cocogoose-Thin';
    color: #BF3F44;
}

.cocogoose-regular-text-black {
    font-family: 'Cocogoose-Regular' !important;
    color: black;
}

.cocogoose-regular-text-white {
    font-family: 'Cocogoose-Regular' !important;
    color: white;
}

.cocogoose-semilight-text-black {
    font-family: 'Cocogoose-Semilight';
    color: black;
}

.cocogoose-thin-text-black {
    font-family: 'Cocogoose-Thin';
    color: black;
}

.trueno-regular-text-black {
    font-family: 'Trueno-Regular';
    color: black;
}

.trueno-light-text-black {
    font-family: 'Trueno-Light';
    color: black;
}

.trueno-light-text-white {
    font-family: 'Trueno-Light';
    color: white;
}

.trueno-semibold-text-black {
    font-family: 'Trueno-Semibold';
    color: black;
}

.trueno-bold-italic-text-black {
    font-family: 'Trueno-Bold-Italic';
    color: black;
}

.btn-red-fill {  
    font-size: 1.5rem !important;

    --bs-btn-color: white !important;
    --bs-btn-bg: #BF3F44 !important;
    --bs-btn-border-color: #BF3F44 !important;
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-bg: #a8373b !important;
    --bs-btn-hover-border-color: #a8373b !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    border-radius: 50px !important;
}

.btn-red-outline {  
    font-size: 1.5rem !important;

    --bs-btn-color: #BF3F44 !important;
    --bs-btn-bg: white !important;
    --bs-btn-border-color: #BF3F44 !important;
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-bg: #a8373b !important;
    --bs-btn-hover-border-color: #a8373b !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    border-radius: 50px !important;
}

.py-custom-hero {
    padding-top: 3rem;
    padding-bottom: 15rem;
}

.hero-section-1 {
    width: 100%;
    min-height: 1580px;
    height: auto;
    background-image: url('../assets/img/home-hero-bg-1.png');
    background-size: cover;
    background-position: 35% top;
    background-repeat: no-repeat;
}

.text-justify {
    text-align: justify !important; 
}

.bg-left {
    background-image: url('../assets/img/home-hero-bg-2.png');
    width: 100%;
    min-height: 1139px;
    background-size: cover;
}

.custom-me {
    margin-right: calc(1rem + 2vw) !important;
}

.custom-col-7 {
    flex: 0 0 auto;
    width: 64%;
}

@media (max-width: 1519px) and (min-width: 1408px) {
    .custom-col-7 {
        flex: 0 0 auto !important;
        width: 70% !important;
    }
}

@media (max-width: 1408px) and (min-width: 1111px) {
    .custom-col-7 {
        flex: 0 0 auto !important;
        width: 45% !important;
    }
}

/* @media (max-width: 1110px) {
    .custom-col-7 {
        flex: 0 0 auto !important;
        width: 70% !important;
    }
} */

@media (max-width: 1110px) and (min-width: 449px) {
    .custom-col-7 {
        flex: 0 0 auto !important;
        width: 70% !important;
    }
}

@media (max-width: 448px) {
    .custom-col-7 {
        flex: 0 0 auto !important;
        width: 90% !important;
    }
}

@media (max-width: 1558px) {
    .custom-mt {
        margin-top: calc(11rem + 1.5vw);
    }
}

.custom-col-8 {
    flex: 0 0 auto;
    width: 66.66666667% !important;
}

@media (max-width: 609px) {
    .custom-col-8 {
        flex: 0 0 auto;
        width: 90% !important;
    }
}

.hero-section-3 {
    width: 100%;
    min-height: 1300px;
    height: auto;
    background-image: url('../assets/img/home-hero-bg-4-try.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.map {
    height: 600px !important;
    width: 100%;
    border-radius: 40px;
}

footer {
    background-color: #BF3F44;
    margin-top: -1px;
}

.footer-text {
    font-family: 'Trueno-Light';
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

@media (min-width: 1200px) {
    .custom-ms-6 {
        margin-left: 15rem !important;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .custom-ms-6 {
        margin-left: calc(1rem + 5vw) !important;
    }
}

.footer-logo {
    max-height: 100%;
}

@media (max-width: 767px) {
    .custom-ms-6 {
        margin-left: 0rem !important;
    }

    .footer-logo {
        max-height: 50px;
    }
}