@font-face {
    font-family: 'Cocogoose-Regular';
    src: url('../fonts/cocogoose-pro-regular-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-regular-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Regular-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Cocogoose-Semilight';
    src: url('../fonts/cocogoose-pro-semilight-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-semilight-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Semilight-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Cocogoose-Thin';
    src: url('../fonts/cocogoose-pro-thin-trial-webfont.woff2') format('woff2'),
          url('../fonts/cocogoose-pro-thin-trial-webfont.woff') format('woff'),
          url('../fonts/Cocogoose-Pro-Thin-trial.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Trueno-Regular';
    src: url('../fonts/truenorg-webfont.woff2') format('woff2'),
          url('../fonts/truenorg-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  

@font-face {
    font-family: 'Trueno-Light';
    src: url('../fonts/truenolt-webfont.woff2') format('woff2'),
          url('../fonts/truenolt-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

@font-face {
    font-family: 'Trueno-Semibold';
    src: url('../fonts/truenosbd-webfont.woff2') format('woff2'),
          url('../fonts/truenosbd-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

@font-face {
    font-family: 'Trueno-Bold-Italic';
    src: url('../fonts/truenobdit-webfont.woff2') format('woff2'),
          url('../fonts/truenobdit-webfont.woff') format('woff');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
} 

body, html {
    overflow-x: hidden;
    margin: 0; 
    padding: 0;
}

@media (min-width: 465px) {
    #uniEatsLogo {
        max-height: 60px;
    }
}
  
@media (max-width: 464px) {
    #uniEatsLogo {
        max-height: 50px;
    }
}

.nav-text {
    font-size: calc(0.8rem + 1.31vw);
    font-family: 'Cocogoose-Semilight';
    color: black;
}

.nav-text-red {
    font-size: calc(0.8rem + 1.31vw);
    font-family: 'Cocogoose-Semilight';
    color: #BF3F44;
}

@media (min-width: 1200px) {
    .nav-text {
        font-size: 24px !important;
        font-family: 'Cocogoose-Semilight' !important;
        color: black !important;
    }

    .nav-text-red {
        font-size: 24px !important;
        font-family: 'Cocogoose-Semilight' !important;
        color: #BF3F44 !important;
    }
}

.nav-text-active {
    color: #BF3F44 !important;
}

@media (min-width: 1600px) {
    .hidden-nav {
        display: none !important;
    }
  
    .hidden-side-nav {
        display: block !important;

    }
}
  
@media (max-width: 1599px) {
    .hidden-nav {
        display: block !important;

    }
  
    .hidden-side-nav{
        display: none !important;
    }
}

.cocogoose-regular-text-red {
    font-family: 'Cocogoose-Regular';
    color: #BF3F44;
}

.cocogoose-semilight-text-red {
    font-family: 'Cocogoose-Semilight';
    color: #BF3F44;
}

.cocogoose-thin-text-red {
    font-family: 'Cocogoose-Thin';
    color: #BF3F44;
}

.cocogoose-regular-text-black {
    font-family: 'Cocogoose-Regular' !important;
    color: black;
}

.cocogoose-regular-text-white {
    font-family: 'Cocogoose-Regular' !important;
    color: white;
}

.cocogoose-semilight-text-black {
    font-family: 'Cocogoose-Semilight';
    color: black;
}

.cocogoose-thin-text-black {
    font-family: 'Cocogoose-Thin';
    color: black;
}

.trueno-regular-text-black {
    font-family: 'Trueno-Regular';
    color: black;
}

.trueno-regular-text-red {
    font-family: 'Trueno-Regular';
    color: #BF3F44;
}

.trueno-light-text-black {
    font-family: 'Trueno-Light';
    color: black;
}

.trueno-light-text-red {
    font-family: 'Trueno-Light';
    color: #BF3F44;
}

.trueno-regular-text-gray {
    font-family: 'Trueno-Regular';
    color: #666666;
}

.trueno-light-text-gray {
    font-family: 'Trueno-Light';
    color: #666666;
}

.trueno-semibold-text-black {
    font-family: 'Trueno-Semibold';
    color: black;
}

.trueno-bold-italic-text-black {
    font-family: 'Trueno-Bold-Italic';
    color: black;
}

.active-menu {
    background-color: #FFE793;
}

.menu {
    background-color: white;
}

.container-profile {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #fff4ce  ;
    z-index: 1;
}

.content-profile {
    flex: 1;
    overflow-y: auto;
}

.tbr-img {
    max-width: 100%;
    min-width: 100%;
    height: 50%;
    display: block;
}

.active-review-history-menu {
    font-family: 'Trueno-Regular';
    color: white !important;
}

.review-history-menu {
    font-family: 'Trueno-Regular';
    color: #FC898E !important;
}

.rating-wrapper {
    align-self: center;
    display: inline-flex;
    direction: rtl !important;
  
    label {
      color: #E1E6F6;
      cursor: pointer;
      display: inline-flex;
      font-size: 2rem;
      padding: 0rem .3rem .3rem 0rem;
      transition: color 0.5s;
    }
  
    input {
      height: 100%;
      width: 100%;
    }
    
    input {
      display: none;
    }
  
    label:hover,
    label:hover ~ label,
    input:checked ~ label  {
      color: #FFE073;
    }
  
    label:hover,
    label:hover ~ label,
    input:checked ~ label  {
      color: #FFE073;
    }
}

.btn-red-outline {  
    font-size: 1.5rem !important;

    --bs-btn-color: #FC898E !important;
    --bs-btn-bg: white !important;
    --bs-btn-border-color: #FC898E !important;
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-bg: #a8373b !important;
    --bs-btn-hover-border-color: #a8373b !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
}

.btn-red-submit {
    font-family: 'Trueno-Regular' !important;
    --bs-btn-color: #FC898E !important;
    --bs-btn-bg:white !important;
    --bs-btn-border-color: #EA4335 !important;
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-bg: #a8373b !important;
    --bs-btn-hover-border-color: #EA4335 !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    border-radius: 50px !important;

}

textarea {
    resize: none !important;
}

textarea:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #666666 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.1rem rgba(172, 172, 172, 1) !important;
}

textarea::-webkit-scrollbar {
    display: none;
}

.switch input { 
    display:none;
}
.switch {
    display:inline-block;
    width:60px;
    height:30px;
    margin:8px;
    transform:translateY(50%);
    position:relative;
}

.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    box-shadow: 0 0 0 2px #bf3f44, 0 0 4px #bf3f44;
    cursor:pointer;
    border:4px solid transparent;
    overflow:hidden;
    transition:.4s;
}
.slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#bf3f44;
    border-radius:30px;
    transform:translateX(-30px);
    transition:.4s;
}

input:checked + .slider:before {
    transform:translateX(30px);
    background:white;
}
input:checked + .slider {
    background:#bf3f44;
}

.custom-px-4-V2 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.custom-col-5 {
    flex: 0 0 auto;
    width: 41.66666667% !important;
}

.custom-col-11 {
    flex: 0 0 auto;
    width: 41.66666667% !important;
}

.custom-col-4 {
    flex: 0 0 auto;
    width: 33.33333333% !important;
}

.custom-col-3 {
    flex: 0 0 auto;
    width: 25% !important;
}

.custom-justify-content-start {
    justify-content: flex-start !important;
}

.custom-justify-content-end {
    justify-content: flex-end !important;
}

.custom-mt-2 {
    margin-top: 0rem !important;
}

.custom-mt-7 {
    margin-top: 6rem !important;
}

@media (min-width: 1400px) {
    .custom-col-7 {
        flex: 0 0 auto;
        width: 58.33333333% !important;
    }
}

@media (max-width: 1399px) {
    .custom-col-7 {
        flex: 0 0 auto;
        width: 66.66666667% !important;
    }
}

@media (max-width: 1199px) {
    .custom-col-7 {
        flex: 0 0 auto;
        width: 83.33333333% !important;
    }

    .custom-col-4 {
        flex: 0 0 auto;
        width: 41.66666667% !important;
    }

    .custom-col-3 {
        flex: 0 0 auto;
        width: 16.66666667% !important;
    }
}

@media (max-width: 991px) {
    .custom-col-7 {
        flex: 0 0 auto;
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    .custom-col-7 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .custom-px-4-V2 {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }

    .custom-col-4 {
        flex: 0 0 auto;
        width: 50% !important;
    }

    .custom-col-3 {
        flex: 0 0 auto;
        width: 50% !important;
    }

    .custom-col-5 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .custom-col-11 {
        flex: 0 0 auto;
        width: 91.66666667% !important;
    }

    .custom-justify-content-start {
        justify-content: flex-end !important;
    }

    .custom-justify-content-end {
        justify-content: center !important;
    }

    .custom-mt-2 {
        margin-top: 1rem !important;
    }

    .custom-mt-7 {
        margin-top: 3rem !important;
    }
    
}

@media (max-width: 575px) {
    .custom-px-4-V2 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}
  
.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: white;
}
  
.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}
  
@media (min-width:800px) {
    .content {
        max-width: auto;
        width: auto;
    }
}

@media (min-width: 768px) {
    .custom-px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}
  
@media (max-width: 767px) {
    .custom-px-4 {
        padding-right: .5rem !important;
        padding-left: .5rem !important;
    }
}
  
.select-style {
    border-color: #dee2e6 !important;
    background-color: white;
    border-radius: 15px !important;
    border-width: 1.5px !important;
    height: 3rem;
  }

  body.modal-open {
    overflow-y: scroll;
    padding-right: 0 !important;
}