@font-face {
  font-family: "Cocogoose-Regular";
  src: url("../fonts/cocogoose-pro-regular-trial-webfont.woff2") format("woff2"),
    url("../fonts/cocogoose-pro-regular-trial-webfont.woff") format("woff"),
    url("../fonts/Cocogoose-Pro-Regular-trial.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Cocogoose-Semilight";
  src: url("../fonts/cocogoose-pro-semilight-trial-webfont.woff2")
      format("woff2"),
    url("../fonts/cocogoose-pro-semilight-trial-webfont.woff") format("woff"),
    url("../fonts/Cocogoose-Pro-Semilight-trial.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Cocogoose-Thin";
  src: url("../fonts/cocogoose-pro-thin-trial-webfont.woff2") format("woff2"),
    url("../fonts/cocogoose-pro-thin-trial-webfont.woff") format("woff"),
    url("../fonts/Cocogoose-Pro-Thin-trial.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Regular";
  src: url("../fonts/truenorg-webfont.woff2") format("woff2"),
    url("../fonts/truenorg-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Light";
  src: url("../fonts/truenolt-webfont.woff2") format("woff2"),
    url("../fonts/truenolt-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Semibold";
  src: url("../fonts/truenosbd-webfont.woff2") format("woff2"),
    url("../fonts/truenosbd-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Bold-Italic";
  src: url("../fonts/truenobdit-webfont.woff2") format("woff2"),
    url("../fonts/truenobdit-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Bold";
  src: url("../fonts/truenobd-webfont.woff2") format("woff2"),
    url("../fonts/truenobd-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Trueno-Light-Italic";
  src: url("../fonts/truenoltit-webfont.woff2") format("woff2"),
    url("../fonts/truenoltit-webfont.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@media (min-width: 465px) {
  #uniEatsLogo {
    max-height: 60px;
  }
}

@media (max-width: 464px) {
  #uniEatsLogo {
    max-height: 50px;
  }
}

.nav-text {
  font-size: calc(0.8rem + 1.31vw);
  font-family: "Cocogoose-Semilight";
  color: black;
}

.nav-text-red {
  font-size: calc(0.8rem + 1.31vw);
  font-family: "Cocogoose-Semilight";
  color: #bf3f44;
}

@media (min-width: 1200px) {
  .nav-text {
    font-size: 24px !important;
    font-family: "Cocogoose-Semilight" !important;
    color: black !important;
  }

  .nav-text-red {
    font-size: 24px !important;
    font-family: "Cocogoose-Semilight" !important;
    color: #bf3f44 !important;
  }
}

.nav-text-active {
  color: #bf3f44 !important;
}

@media (min-width: 1600px) {
  .hidden-nav {
    display: none !important;
  }

  .hidden-side-nav {
    display: block !important;
  }
}

@media (max-width: 1599px) {
  .hidden-nav {
    display: block !important;
  }

  .hidden-side-nav {
    display: none !important;
  }
}

.cocogoose-regular-text-red {
  font-family: "Cocogoose-Regular";
  color: #bf3f44;
}

.cocogoose-semilight-text-red {
  font-family: "Cocogoose-Semilight";
  color: #bf3f44;
}

.cocogoose-semilight-text-white {
  font-family: "Cocogoose-Semilight";
  color: white;
}

.cocogoose-light-text-red {
  font-family: "Cocogoose-Semilight";
  color: #bf3f44;
}

.cocogoose-thin-text-red {
  font-family: "Cocogoose-Thin";
  color: #bf3f44;
}

.cocogoose-regular-text-black {
  font-family: "Cocogoose-Regular" !important;
  color: black;
}

.cocogoose-regular-text-white {
  font-family: "Cocogoose-Regular" !important;
  color: white;
}

.cocogoose-semilight-text-black {
  font-family: "Cocogoose-Semilight";
  color: black;
}

.cocogoose-thin-text-black {
  font-family: "Cocogoose-Thin";
  color: black;
}

.trueno-regular-text-black {
  font-family: "Trueno-Regular";
  color: black;
}

.trueno-regular-text-red {
  font-family: "Trueno-Regular";
  color: #bf3f44;
}

.trueno-light-text-black {
  font-family: "Trueno-Light";
  color: black;
}

.trueno-light-text-white {
  font-family: "Trueno-Light";
  color: white;
}

.trueno-light-italic-text-white {
  font-family: "Trueno-Light-Italic";
  color: white;
}

.trueno-light-text-gray {
  font-family: "Trueno-Light";
  color: #666666;
}

.trueno-semibold-text-black {
  font-family: "Trueno-Semibold";
  color: black;
}

.trueno-bold-italic-text-black {
  font-family: "Trueno-Bold-Italic";
  color: black;
}

.trueno-bold-text-white {
  font-family: "Trueno-Bold";
  color: white;
}

.trueno-semibold-text-red {
  font-family: "Trueno-Semibold";
  color: #bf3f44;
}

.content {
  margin-top: 3em;
  background: #fff;
  padding-bottom: 2em;
}

.toc {
  margin-top: 3em;
  width: 100%;
}

.toc ul {
  margin-left: 0.5em;
  padding: 0;
  list-style-type: none;
}

.toc ul li {
  margin-bottom: 1em;
}

.toc ul li a {
  margin-bottom: 0.75rem;
  padding-bottom: 0.2rem;
  color: black;
  text-decoration: none;
  font-family: "Trueno-Bold";
}

.toc ul li a:hover {
  margin-bottom: 0.45em;
  color: #bf3f44;
  text-decoration: none;
  font-family: "Trueno-Bold";
  border-bottom: 3px solid #ffc727;
}

.toc .indent-one {
  margin-left: 1em;
}

.toc .indent-two {
  margin-left: 1.75em;
}

footer {
  background-color: #bf3f44;
  margin-top: -1px;
}

.footer-text {
  font-family: "Trueno-Light";
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .custom-ms-6 {
    margin-left: 15rem !important;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .custom-ms-6 {
    margin-left: calc(1rem + 5vw) !important;
  }
}

.footer-logo {
  max-height: 100%;
}

@media (max-width: 767px) {
  .custom-ms-6 {
    margin-left: 0rem !important;
  }

  .footer-logo {
    max-height: 50px;
  }
}

@media (min-width: 1110px) {
  .header-bg {
    display: block !important;
  }

  .header-sm {
    display: none !important;
  }
}

@media (max-width: 1109px) {
  .header-bg {
    display: none !important;
  }

  .header-sm {
    display: block !important;
  }
}

section > p {
  font-family: "Trueno-Regular";
  color: black;
  font-size: calc(0.7rem + 1.09vw) !important;
  font-weight: 300;
  line-height: 1.5;
  width: 100%;
  text-align: justify;
}

h1 {
  font-family: "Trueno-Bold" !important;
  color: #bf3f44 !important;
  font-size: calc(0.85rem + 1.09vw) !important;
  margin-top: 1rem !important;
  margin-bottom: 0.8rem !important;
}

section > ul > li {
  font-family: "Trueno-Regular";
  color: black;
  font-size: calc(0.7rem + 1.09vw) !important;
  font-weight: 300;
  line-height: 1.5;
  width: 100%;
  text-align: justify;
}

@media (min-width: 1200px) {
  section > p {
    font-family: "Trueno-Regular";
    color: black;
    font-size: 1.19rem !important;
    width: 80%;
  }

  h1 {
    font-family: "Trueno-Bold";
    color: #bf3f44 !important;
    font-size: 1.35rem !important;
    margin-top: 2rem !important;
    margin-bottom: 0.8rem !important;
  }

  section > ul > li {
    font-family: "Trueno-Regular";
    color: black;
    font-size: 1.19rem !important;
    width: 80%;
  }
}

.bold-red {
  font-family: "Trueno-Semibold";
  color: #bf3f44;
}

.bold {
  font-family: "Trueno-Semibold";
  color: black;
}
