.navbar-expand > .container, .navbar-expand > .container-fluid {
  padding-right: 0;
  padding-left: 0; 
}

#sidebar {
  z-index: 2;
  min-width: 400px;
  max-width: 400px;
  border-radius: 0px 20px 0px 0px;
  background-color: white;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; 
}

#sidebar .h6 {
  color: #fff; 
}

#sidebar h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px; 
}

#sidebar h1 .logo {
  color: #fff; 
}

#sidebar h1 .logo span {
  font-size: 14px;
  color: #44bef1;
  display: block; 
}

#sidebar ul.components {
  padding: 0; 
}

#sidebar ul li {
  font-size: 16px; 
}

#sidebar ul li > ul {
  margin-left: 10px; 
}

#sidebar ul li > ul li {
  font-size: 14px; 
}

#sidebar ul li a {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

#sidebar ul li a span {
  color: #44bef1; 
}

#sidebar ul li a:hover {
  color: #fff; 
}

#sidebar ul li.active > a {
  background: transparent;
  color: #fff; 
}

@media(min-width: 845px) {
  #sidebar {
    min-width: 400px;
    max-width: 400px;
    margin-left: -400px; 
  }

  #sidebar.active {
    margin-left: 0px; 
  }
}

@media(max-width: 844px) {
  #sidebar {
    min-width: 200px;
    max-width: 200px;
    margin-left: -200px; 
  }

  #sidebar.active {
    margin-left: 0px; 
  }
}

#sidebar .custom-menu {
  z-index: -1;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; 
}

@media (prefers-reduced-motion: reduce) {
  #sidebar .custom-menu {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; 
  } 
}

#sidebar .custom-menu .btn-1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative; 
}

#sidebar .custom-menu .btn-1 i {
  margin-right: -40px;
  font-size: 14px; 
}

#sidebar .custom-menu .btn-1.btn-primary-1 {
  background: transparent;
  border-color: transparent; 
}

#sidebar .custom-menu .btn-1.btn-primary-1:after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: white;
  border-radius: 10px; 
}

#sidebar .custom-menu .btn-1.btn-primary-1:hover, #sidebar .custom-menu .btn-1.btn-primary-1:focus {
  background: transparent !important;
  border-color: transparent !important; 
}


@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; 
  } 
}


.notifications, .icon_wrap, .notification_dd, .notification_ul, .notification_ul>li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.notifications {
position: relative;
}

.notification_dd {
position: absolute;
top: 48px;
right: -15px;
user-select: none;
background: #fff;
border: none;
width: 500px;
height: auto;
display: none;
border-radius: 3px;
box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.125),
  -10px -10px 35px rgba(0, 0, 0, 0.125);
}

.filter_dd {
  position: absolute;
  top: 730px;
  right: 50px;
  z-index: 1;
  user-select: none;
  background: #fff;
  border: none;
  width: 300px;
  height: auto;
  display: none;
  border-radius: 18px;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.125),
    -10px -10px 35px rgba(0, 0, 0, 0.125);
}


@media (max-width: 1199px) {
  .filter_dd {
    top: 800px;
  }
}

@media (max-width: 1100px) {
  .filter_dd {
    top: 780px;
  }
}

@media (max-width: 991px) {
  .filter_dd {
    top: 800px;
  }
}

@media (max-width: 984px) {
  .filter_dd {
    top: 765px;
  }
}

@media (max-width: 974px) {
  .filter_dd {
    top: 730px;
  }
}

@media (max-width: 865px) {
  .filter_dd {
    top: 715px;
  }
}

@media (max-width: 818px) {
  .filter_dd {
    top: 660px;
  }
}

@media (max-width: 740px) {
  .filter_dd {
    top: 650px;
  }
}

@media (max-width: 675px) {
  .filter_dd {
    top: 640px;
  }
}

@media (max-width: 610px) {
  .filter_dd {
    top: 625px;
  }
}

@media (max-width: 575px) {
  .filter_dd {
    top: 640px;
  }
}

@media (max-width: 555px) {
  .filter_dd {
    top: 630px;
  }
}

@media (max-width: 530px) {
  .filter_dd {
    top: 620px;
  }
}

@media (max-width: 510px) {
  .filter_dd {
    top: 610px;
  }
}

@media (max-width: 495px) {
  .filter_dd {
    top: 600px;
  }
}

@media (max-width: 460px) {
  .filter_dd {
    top: 590px;
  }
}

@media (max-width: 435px) {
  .filter_dd {
    top: 580px;
  }
}

@media (max-width: 433px) {
  .filter_dd {
    top: 615px;
  }
}

@media (max-width: 405px) {
  .filter_dd {
    top: 605px;
  }
}

@media (max-width: 385px) {
  .filter_dd {
    right: 30px;
    top: 595px;
  }
}

@media (max-width: 382px) {
  .filter_dd {
    right: 30px;
    top: 620px;
  }
}

@media (max-width: 363px) {
  .filter_dd {
    right: 20px;
    top: 610px;
  }
}

@media (max-width: 348px) {
  .filter_dd {
    right: 15px;
    top: 630px;
  }
}

@media (max-width: 334px) {
  .filter_dd {
    right: 8px;
    top: 645px;
  }
}

@media (max-width: 332px) {
  .filter_dd {
    right: 5px;
    top: 660px;
  }
}

@media (max-width: 330px) {
  .filter_dd {
    right: 5px;
    top: 680px;
  }
}

@media (max-width: 324px) {
  .filter_dd {
    right: 2px;
    top: 680px;
  }
}

@media (max-width: 322px) {
  .filter_dd {
    right: 2px;
    top: 695px;
  }
}

@media (max-width: 320px) {
  .filter_dd {
    right: 0px;
    top: 695px;
  }
}

.filter_dd:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 15px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.notification_dd:before {
content: "";
position: absolute;
top: -20px;
right: 15px;
border: 10px solid;
border-color: transparent transparent #fff transparent;
}

.notification_dd li {
border-bottom: 1px solid #f1f2f4;
display: flex;
align-items: center;
}

.notification_dd li .notify_icon {
display: flex;
}

.notification_dd li .notify_icon .icon {
display: inline-block;
width: 40px;
height: 42px;
}

.notification_dd li .notify_icon .icon img {
  width: 40px;
  height: 42px;
}

.notification_dd li .notify_data {
margin: 0 15px;
width: 500px;
}

.notification_dd li .notify_data .title {
color: #000;
}

.notification_dd li .notify_data .sub_title {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.notification_dd li.show_all {
display: flex;
justify-content: center;
background-color: #F0F0F0;
}

.notification_dd li.show_all p {
cursor: pointer;
}

.notifications.active .notification_dd {
display: block;
}

.filter_dd.active {
  display: block;
}

.icon_wrap i:hover {
  color: #bf3f44 !important;
}

.fa-bell.active {
  color: #bf3f44 !important;
}

.icon_wrap {
  cursor: pointer;
}
